.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.background {
    background-image: url('../../background.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    filter: blur(5px);
    transform: scale(1.1);
}
.chat_container {
    background-color: $background-color;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 60%;
    box-shadow: 4px 12px 20px $table-background-color;
    margin: auto;
    position: fixed;
}

.chatheader {
    background-color: $primary-color;
    display: flex;
}

.chatheader h1 {
    padding: 1rem;
    color: white;
    background-size: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
}

.chatbody {
    flex: 1;
    padding: 1rem 1rem;
    background-color: transparent;
}

.message_in {
    background-color: $chat-in-msg-color;
    width: fit-content;
    padding: 0.6rem;
    border-radius: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: $chat-msg-shadow;
}

.message_out {
    background-color: $chat-out-msg-color;
    width: fit-content;
    padding: 0.6rem;
    border-radius: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    box-shadow: $chat-msg-shadow;
}

.chatfooter form {
    display: flex;
}

form input {
    flex: 1;
    height: 2rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 16px;
    margin: 1rem;
    margin-left: 1.5rem;
    border-radius: 1rem;
    box-shadow: $chat-shadow;
}

form button {
    height: 2rem;
    width: 2rem;

    font-size: 18px;
    border: none;
    outline: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: $primary-color;
    border-radius: 50%;
    color: $chat-input-color;
    cursor: pointer;
    box-shadow: $chat-shadow;
}

form button:hover {
    background-color: $primary-color-hover;
}

@media screen and (max-width: 1024px){
    .chat_container {
        background-color: $background-color;
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        box-shadow: 4px 12px 20px $table-background-color;
        margin: auto;
        position: fixed;
    }
    
    form input{
        height: 3rem;
    }

    form button{
        height: 3rem;
        width: 3rem;
    }
}