<html>
    <body>
        <input id="receiver" name="receiver">
        <textarea id="message" rows="4" cols="50"></textarea>
        <button onclick="sendMsg()">Send</button>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/cryptico/0.0.1343522940/cryptico.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cryptico/0.0.1343522940/rsa.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cryptico/0.0.1343522940/api.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script>

        <script>
            var socket = io.connect('https://' + document.domain + ':' + location.port);

            let MattsRSAkey = JSON.parse(localStorage.getItem('MattsRSAkey'));
            let MattsPublicKeyString = cryptico.publicKeyString(MattsRSAkey);  

            socket.on('connect', function(data) {
                console.log(data);
                socket.emit('join', {});
            });

            socket.on('message',function(data){
                console.log(data);
            });

            function padding(msg){
                if(msg.length % 16 != 0){
                    count = msg.length % 16;
                    print(count)
                    let array = new Uint8Array(16-count);
                    array = crypto.getRandomValues(array);
                    console.log(array)
                    for (var i = 0; i < array.length; i++) {
                        msg += String.fromCharCode((array[i]%127)+32);
                    }
                    console.log(msg)
                }
                else{
                    return msg;
                }
            }

            function sendMsg(){

                let to = document.getElementById('receiver').value;
                let msg = document.getElementById('message').value;

                let key_256 = crypto.getRandomValues(new Uint8Array(32));
                let iv = crypto.getRandomValues(new Uint8Array(16));

                // let key_256 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15,
                //     16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
                //     29, 30, 31];

                // let iv = [ 21, 22, 23, 24, 25, 26, 27, 28,29, 30, 31, 32, 33, 34, 35, 36 ];

                // let key_256_array = new Uint8Array(key_256);

                let msgBytes = aesjs.utils.utf8.toBytes(padding(msg));


                let aesCbc = new aesjs.ModeOfOperation.cbc(key_256, iv);
                let encryptedBytes = aesCbc.encrypt(msgBytes);

                let encryptedHex = aesjs.utils.hex.fromBytes(encryptedBytes);
                console.log(encryptedHex);
               
                aes = {
                    'key_256':key_256,
                    'iv': iv
                }

                data = {
                    'to': to,
                    'msg': encryptedHex,
                    'msg_length': msg.length,
                    'aes': aes 
                }

                socket.emit('message', data);
                document.getElementById('receiver').value = "";
                document.getElementById('message').value = "";
            }

        </script>
    </body>
</html>