<html>
    <body>
        <input id="receiver" name="receiver">
        <textarea id="message" rows="4" cols="50"></textarea>
        <button onclick="sendMsg()">Send</button>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsencrypt/2.3.1/jsencrypt.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/pbkdf2.min.js"></script>
        <script>
            var socket = io.connect('https://' + document.domain + ':' + location.port);

            

            socket.on('connect', function(data) {
                console.log(data);
                socket.emit('join', {});
            });

            

            socket.on('message',function(data){
                console.log(data);
            });

            function sendMsg(){
                data = {
                    'to': document.getElementById('receiver').value,
                    'msg': document.getElementById('message').value,
                    'key': 'this is key.',
                    'msg_nonce': 'this is msg nonce (fixed length)',
                    'key_nonce': 'this is key nonce (fixed length)'
                }

                socket.emit('message', data);
                document.getElementById('receiver').value = "";
                document.getElementById('message').value = "";
            }

        </script>
    </body>
</html>