.container {
    :global(.modal-dialog) {
        max-width: 500px;
    }

    :global(.modal-header) {
        background-color: rgba($primary-color, 0.8);
        border-color: $primary-color;
    }

    .confirmButton, .cancelButton {
        background-color: $primary-color;
        border-color: $primary-color;
    
        &:hover {
            background-color: rgba($primary-color, 0.9);
            border-color: rgba($primary-color, 0.9);
        }
    }
}
