.container {
    width: 100%;
    height: 100vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    overflow: hidden;
    position: relative;
}
.background {
    background: url('../../background.jpg');
    // background-image: url('../../background.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    filter: blur(5px);
    transform: scale(1.1);
    position: absolute;
    top: 0;
    left: 0;
}
.chat_container {
    // background-color: transparent;
    border-radius: 10px;
    background-color: $background-color;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 60%;
    box-shadow: 4px 12px 20px $table-background-color;
    margin: 20px auto 0 auto;
    overflow: hidden;
    position: relative;
    // position: fixed;
}
.logOut {
    position: absolute;
    top: 10px;
    right: 10px;
}
.contactListClickable {
    visibility: hidden;
    position: absolute;
}

.chat_header {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chat_header h1 {
    padding: 1rem;
    color: white;
    background-size: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
}

.chat_app_container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.chat_app_contactList_container {
    display: flexbox;
    width: 150px;
    justify-content: center;
    background-color: $contactListContainer-color;
    position: relative;
}

.chat_app_contactList_contact {
    border-radius: 5px;
    font-size: $font-size;
    display: flex;
    justify-content: center;
    width: auto;
    height: fit-content;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: $contactListContact-color;
}

.chat_app_contactList_contact:hover {
    background-color: $contactListContact-selected-color;
    cursor: pointer;
}

.chat_app_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.chat_app_msg_container {
    width: 100%;
    height: 100%;
    // flex: 1;
    // padding: 1rem 1rem;
}

.chat_app_contact {
    background-color: $chat-in-msg-color;
    color: $text-color;
    padding: 10px 0px 10px 20px;
}

.chat_app_msg_inMsg p,
.chat_app_msg_outMsg p {
    width: 100%;
    height: 100%;
}

.chat_app_msg_inMsg span,
.chat_app_msg_outMsg span {
    font-size: 0.6rem;
    // float: right;
}

.chat_app_msg_inMsg,
.chat_app_msg_outMsg {
    width: 30%;
    height: max-content;
    padding: 0 0.6rem;
    border-radius: 15px;
    // margin-top: 5px;
    // margin-bottom: 10px;
    margin: 0.5rem 1rem;
    box-shadow: $chat-msg-shadow;
}

.chat_app_msg_inMsg {
    background-color: $chat-in-msg-color;
    box-shadow: $chat-msg-shadow;
}

.chat_app_msg_outMsg {
    background-color: $chat-out-msg-color;
    margin-left: auto;
}

.chat_app_footer {
    background-color: transparent;
    // display: flex;
    // flex:1;
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}

.chat_app_footer input {
    // flex: 1;
    width: 80%;
    height: 2rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 16px;
    // margin: 1rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
    border-radius: 1rem;
    box-shadow: $chat-shadow;
}

.chat_app_footer button {
    height: 2rem;
    width: 2rem;

    font-size: 18px;

    border: none;
    outline: none;
    // margin-top: 1rem;
    // margin-bottom: 1rem;
    // margin-right: 1rem;
    background-color: $primary-color;
    border-radius: 50%;
    color: $chat-input-color;
    cursor: pointer;
    box-shadow: $chat-shadow;
}

form button:hover,
form button:active {
    background-color: $primary-color-hover;
}

.msg_scrollbar {
    width: 100%;
    height: 100%;
}

.refresh_token_button{
    display: none;
    border-radius: 5px;
    font-size: 0.8rem;
    text-align: center;
    width: 90%;
    height: fit-content;
    background-color: $contactListContainer-color;
    position: absolute;
    bottom: 5px;
    left: 5%;
}

.refresh_token_button:hover{
    background-color: $contactListContact-selected-color;;
}

@media screen and (max-width: 1024px) {
    .chat_app_footer input {
        width: 75%;
    }
    .chat_app_contactList_container{
        width: 80px;
    }


    .chat_container {
        // background-color: transparent;
        // background-color: $background-color;
        // opacity: 0.9;
        // display: flex;
        // flex-direction: column;
        border-radius: 0px;
        height: 100%;
        width: 100%;
        margin: 0;
        // box-shadow: 4px 12px 20px $table-background-color;
        // margin: auto;
        // position: fixed;
    }

    // .contactListClickabl:active{
    //     transform: scale(2.75);
    //     transition: all 0.3s;
    // }

    // form input{
    //     height: 3rem;
    // }

    // form button{
    //     height: 3rem;
    //     width: 3rem;
    // }
}
